<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal event-forms">
  <fieldset>

  <div class="form-group">
    <%= f.label :first_name, class: "col-md-4 control-label" %> 
    <div class="col-md-4">
     <%= f.text_field :first_name, class: "form-control input-md" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "col-md-4 control-label" %> 
    <div class="col-md-4">
     <%= f.text_field :last_name, class: "form-control input-md" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-md-4 control-label" %> 
    <div class="col-md-4">
     <%= f.text_field :email, class: "form-control input-md" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :classification, class: "col-md-4 control-label" %> 
    <div class="col-md-4">
       <select id="classification" name="user[classification]" class="form-control">
        <option value="Student">Student</option>
        <option value="Alumni">Alumni</option>
        <option value="Faculty">Faculty</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :organization, class: "col-md-4 control-label" %> 
    <div class="col-md-4">
     <%= f.text_field :organization, placeholder: 'name of organization (optional)', class: "form-control input-md" %>
    </div>
  </div>

 <% if logged_in? && current_user.admin? %>
 <div class="form-group">
    <%= f.label :admin, class: "col-md-4 control-label" %> 
    <div class="col-md-4">
     <%= f.check_box :admin %>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <% if params[:action] == 'edit' %>
    <%= f.label 'Change Password', class: "col-md-4 control-label" %>
    <% else %>
    <%= f.label :password, class: "col-md-4 control-label" %> 
    <% end %>
    <div class="col-md-4">
     <%= f.password_field :password, placeholder: 'enter new password', id: 'example-password-input', class: "form-control input-md" %>
    </div>
  </div>


  <div class="actions form-group">
    <label class="col-md-4 control-label" for="Create"></label>
    <div class="col-md-8">
    <% if params[:action] == 'new' %>
    <%= f.submit 'Create Account', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', events_path, class: "btn btn-default" %>
    <% elsif params[:action] == 'edit' %>
    <%= f.submit 'Save', :class => 'btn btn-primary save-btn' %>
    <%= link_to 'Cancel', user_path(current_user), class: "btn btn-default" %>
    <% end %>
    <% if params[:action] == 'edit' %>
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>
  </div>
  </div>


  </fieldset>
  </div>
  <% end %>
