<p id="notice"><%= notice %></p>


<div class="profile-view">
  <div class="top-column">
    <div class="profile-image">
    </div>
    <h2><%= @user.first_name %> <%= @user.last_name %> <%= "(Admin)" if current_user.admin? %></h2> <ul>
      <li><strong>Classification: </strong><%= @user.classification %></li>
      <li><strong>Organization: </strong><%= @user.organization %></li>
    </ul>
  </div>
    <div id="events">
      <% if @user.events %>
      <%= render 'events/events', obj: @user_events %>
      <% else %>
      <h2>no events to show</h2>
      <% end %>
    </div>

</div>



