<p id="notice"><%= notice %></p>


<div class="profile-view">
  <div class="top-column">
    <div class="profile-image">
    </div>
    <h2><%= @user.first_name %> <%= @user.last_name %> <%= "(Admin)" if @user.admin? %></h2> 
      <p><strong>Classification: </strong><%= @user.classification %></p>
      <% if @user.organization %>
      <p><strong>Organization: </strong><%= @user.organization %></p>
      <% end %>
  </div>

      <% if @user.events %>
      <%= render 'events/events', obj: @user_events %>
      <% else %>
      <h2>no events to show</h2>
      <% end %>

</div>



