<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-horizontal event-forms">
<fieldset>

  <div class="form-group">
    <%= f.label :name, class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= f.text_field :name, class: "form-control input-md", id: "textinput" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Website', class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= f.text_field :Website, placeholder: 'https:// (optional)', class: "form-control input-md" %>
  </div>
  </div>


  <div class="form-group">
    <%= f.label :description, class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= f.text_area :description, placeholder: 'About the event', class: "form-control", id: "textarea" %>
    </div>
  </div>

  <div class="from-group row">
    <%= f.label 'Start', class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= f.datetime_local_field :start_date, class: "form-control", :id => 'example-datetime-local-input' %>
  </div>
  </div>
  </br>

   <div class="from-group row">
    <%= f.label 'End', class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= f.datetime_local_field :end_date, class: "form-control", id: "example-datetime-local-input" %>
  </div>
  </div>
  </br>

  <div class="form-group">
    <%= f.label 'Company Name', class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= f.text_field :company_name, placeholder: '(optional)', class: "form-control input-md" %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label 'Address', class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= f.text_field :address_line1, placeholder: '(optional)', class: "form-control input-md" %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label 'Address Line 2', class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= f.text_field :address_line2, placeholder: '(optional)', class: "form-control input-md" %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :city, class: "col-md-4 control-label" %>
    <div class="col-md-2">
    <%= f.text_field :city, class: "form-control input-md"%>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :state, class: "col-md-4 control-label" %>
    <div class="col-md-1">
    <%= f.text_field :state, class: "form-control input-md"%>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :zip, class: "col-md-4 control-label" %>
    <div class="col-md-1">
    <%= f.text_field :zip, placeholder: '(optional)', class: "form-control input-md"%>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :country, class: "col-md-4 control-label" %>
    <div class="col-md-1">
    <%= f.text_field :country, placeholder: '(optional)', class: "form-control input-md"%>
  </div>
  </div>

  <% if params[:action] == 'edit' %>
  <div class="form-group">
    <%= f.label 'Cancel Event', class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <div class="checkbox">
        <label for="Delete-0">
        <%= f.check_box :cancelled %>
        </label>
      </div>
    </div>
  </div>
  <% end %>

  <div class="actions form-group">
    <label class="col-md-4 control-label" for="Create"></label>
    <div class="col-md-8">
    <% if params[:action] == 'new' %>
    <%= f.submit 'Create', :class => 'btn btn-primary' %>
    <% elsif params[:action] == 'edit' %>
    <%= f.submit 'Save', :class => 'btn btn-primary save-btn' %>
    <% end %>
    <%= link_to 'Cancel', events_path, class: "btn btn-default" %>
    <% if params[:action] == 'edit' %>
    <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

    <% end %>
  </div>
  </div>

</fieldset>
</div>
<% end %>
