<p id="notice"><%= notice %></p>

<div id="event-show">
  <div id="event-show-container">

    <div class="header">
      <h1><%= @event.name.titleize %></h1>
      <% if @event.cancelled? %>
        <p>Event Cancelled!!!!!!!!!</p>
      <% end %>
      <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary btn-sm" %>
      <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
      </br>
      </br>

      <div class="header-image"></div>

    </div>

    <div class="event-info">

      <div class="right-col">
        <h3>Description</h3>
        <p> <%= @event.description %></p>

        <% if @event.user %>
        <p>Created By: <%= @event.user.first_name %></p>
       <% end %>
      </div>

      <div class="left-col">
        <h3>Dates</h3>
        <p><%= @event.start_date.strftime("%l:%M %p %A, %b %d %Y") %> - 
        </br>
        <%= @event.end_date.strftime("%l:%M %p %A, %b %d %Y") %></p>

        <h3>Address</h3>
        <p>
        <%= @event.street_line1 %>
        </br>
        <%= @event.city %>
        <%= @event.state %>
        <%= @event.zip %>
        </p>
        </br>

        <%= image_tag 'https://maps.googleapis.com/maps/api/staticmap?center=' + @event.latitude.to_s + ',' + @event.longitude.to_s + '&zoom=12&size=600x300' %>
      </div>

    </div>

  </div>
</div>




