<p id="notice"><%= notice %></p>

<div id="event-show">
  <div id="event-show-container">

    <div class="header">
      <h1><%= @event.name %></h1>
      <% if @event.cancelled? %>
        <p>Event Cancelled!!!!!!!!!</p>
      <% end %>
      </br>
      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %> |
      <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
      <div class="header-image">
        event image
      </div>
    </div>

    <div class="event-info">

      <div class="right-col">
        <h3>Description</h3>
        <p> <%= @event.description %></p>

        <% if @event.user %>
        <h3>Created By: <%= @event.user.first_name %></h3>
       <% end %>
      </div>

      <div class="left-col">
        <h3>Time/Date</h3>
        <%= @event.start_date %>
        <%= @event.end_date %>

        <h3>Address</h3>
        <%= @event.street_line1 %>
        <%= @event.city %>
        <%= @event.state %>
        <%= @event.zip %>

        <%= image_tag 'https://maps.googleapis.com/maps/api/staticmap?center=' + @event.latitude.to_s + ',' + @event.longitude.to_s + '&zoom=12&size=400x400' %>
      </div>

    </div>

  </div>
</div>




